.divImage{
    text-align:center; 
    text-align:-webkit-center;
}

.divFiltros{
    margin-bottom:3%;
}

.divButtonTop{

}

.buttonTop{
    width: min-content;
    height: min-content;
    float: right;
    position: absolute;
    
}